.product {
    width: calc(33.333% - 24px);
    position: relative;
    margin: 20px 12px;
}

.productImg {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-color: #ededed;
    border-radius: 12px;
}

.productCategory {
    opacity: .5;
    font-size: 14px;
    font-weight: 400;
}

.productName {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}

.productPrice {
    color: hsl(14, 86%, 42%);
}

.productCategory,
.productName,
.productPrice {
    margin: 2px 0;
}

.product:hover>img {
    box-shadow: 0 0 0 2px hsl(14, 86%, 42%);
}

@media only screen and (max-width: 1024px) {
    .product {
        width: calc(50% - 24px);
    }

}

@media only screen and (max-width: 425px) {
    .product {
        width: 100%;
    }

}